@font-face {
  /* 字形名稱 */
  font-family: Ngaan;
  /* 字形來源 src url 路徑 */
  src: url(./font/I.Ngaan.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  box-sizing: border-box;
}

/* 導覽列 */
nav {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 30px;
  /* 定位：固定 */
  position: fixed;
  /* 上：0 or bottom 下 */
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;

}

#logo span {
  font-family: Ngaan;
  font-size: 36px;
  font-weight: 900;
}

#nav {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  /* 對齊項目 */
  align-items: center;
  text-align: center;
}

#nav a {
  /* 文字-裝飾 - 底線、刪除線 */
  text-decoration: none;
  color: white;
  font-size: 20px;
  /* 轉場:時間 */
  transition: 0.3s;
}

/* :hover 滑入 */
#nav a:hover {
  color: gold;
  font-size: 22px;
}

/* 橫幅 */
#banner {
    /* 100vh 指的是跟螢幕一樣高 100% v h */
    height: 100vh;
    /* 背景圖片 */
    background-image: url(./img/noodles2.jpg);
    /* 背景大小：填滿 */
    background-size: cover;
    /* 置中 */
    background-position: center;

    /* transform: scaleY(1);
    transition: 3s; */
}
